Repository zer0Kerbal/Proton, pull requests merged in 2023-05, with the labels that each got.

#38 Version 2.0.0.0-release `<Archival>` edition
  GameData/BobCat/SovietPack/Proton/2.0.0.0.htm
  GameData/BobCat/SovietPack/Proton/Proton.version
  GameData/BobCat/SovietPack/Proton/changelog.md
  Proton.version
  changelog.md
  docs/ReleaseNotes/2.0.0.0.md
  docs/changelog.md
  json/ksp.json
  json/mod.json
Labels: semantic: release, type: archive

#45 Create es-es.cfg
  GameData/BobCat/SovietPack/Proton/Localization/es-es.cfg
Labels: type: localization, hacktoberfest-accepted

#48 Version 3.9.99.1-prerelease - `<Gracias Fitiales>` edition
  GameData/BobCat/SovietPack/Proton/3.9.99.1.htm
  GameData/BobCat/SovietPack/Proton/Attributions.htm
  GameData/BobCat/SovietPack/Proton/Localization/en-us.cfg
  GameData/BobCat/SovietPack/Proton/Localization/es-es.cfg
  GameData/BobCat/SovietPack/Proton/Parts/proton-booster-retro.cfg
  GameData/BobCat/SovietPack/Proton/Parts/proton-decoupler-payload.cfg
  GameData/BobCat/SovietPack/Proton/Parts/proton-decoupler-stage-one.cfg
  GameData/BobCat/SovietPack/Proton/Parts/proton-decoupler-stage-two.cfg
  GameData/BobCat/SovietPack/Proton/Parts/proton-fairing.cfg
  GameData/BobCat/SovietPack/Proton/Proton.version
  GameData/BobCat/SovietPack/Proton/changelog.md
  GameData/BobCat/SovietPack/Proton/readme.htm
  Proton.version
  changelog.md
  docs/Attributions.md
  docs/Localizations.md
  docs/ReleaseNotes/3.9.99.1.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: prerelease, type: localization
